#bocuc1 {
          width: 1325px;
          height: 125px;
          background-color: #7f7f7f;
          margin: auto;
          border: 2px solid #999999;
          background-image: url(vang.gif);
        }
#them   {   
          width: 1325px;
          height: 70px;
          background-color: #B8860B;
          margin: auto;
          border: 2px solid #999999;
          background-image: url(anhdong1.gif);

        }
#me     {
          width: 1350px;
          height: 500px;
          border:2px solid #FFFAF0;
          margin: auto;
        }
#bocuc2 {
          width: 400px;
          height: 880px;
          background-color: #e5e5e5;
          float: left;
          border: 2px solid #999999;
          
        }
#bocuc3 {
          width: 920px;
          height: 880px;
          background-color: #e5e5e5;
          float: left;
          margin: auto;
          border: 2px solid #999999;
          background-image: url(vnua.jpg);
          background-repeat: no-repeat;
          background-position: 370px 175px;
          background-size: 390px;

        }
#bocuc4 {
          width: 1325px;
          height: 215px;
          background-color: #ffaa56;
          margin: auto;
          float: left;
          border: 2px solid #999999;
          background-image:url(thu.jpg);
          background-repeat:no-repeat;
          background-position: 450px 55px;
          background-size: 150px;
        }