#bocuc1 {
          width: 1335px;
          height:150px;
          background-color: #7FFF00;
          margin: auto;
          
        }
#me     {
          width: 1335px;
          height: 400px;
          background-color: #A9A9A9
          margin: auto; 
        }
#bocuc2 {
          width: 350px;
          height: 400px;
          background-color: #A9A9A9;
          border: 2px solid black;
          float: left
        }
#bocuc3 {
          width: 977px;
          height: 400px;
          background-color: #A9A9A9;
          border: 2px solid black;
          float: left;
        }
#bocuc4 {
	      width: 1335px;
          height:100px;
          background-color: yellow;
          margin: auto;

        }
