#trencung {
color: black;
width: 50%;
height: 60px;
background-color: white;
float: left;
}
/*#trencung2 {
color: black;
width: 50%;
height: 30px;
background-color: white;
float: right;
text-align: right;	
padding-top: 30px;
}*/
#thanhngang {
color: black;
width: 100%px;
height: 30px;
background-color: #5f5f5f;
margin-bottom: 10px;
}
#thantrai{
width: 5%;
height: 650px;
float: left;
background-color: #f1f1f1;
}
#thangiua {
height: 650px;
color: black;
background-color: #ffffff;
width: 60%;
float: left;
}
#thanphai{
height: 650px;
color: black;
background-color: #ffffff;
float: right;
width: 30%;
}
a:hover{
background-color: red;
}
#phancon{
height: 100px;
color: red;
background-color: green;
}