#facebook{
width: 56%;
height: 100px;
background-color: #3b5998;
float: left;
text-align: center;
}
#dangnhap{
width: 44%;
height: 100px;
background-color: #3b5998;
color: white;
float: right;}
#thanphai{
width: 44%;
height: 600px;
float: right;
background: linear-gradient(#fff,#d3d8e8);
text-align: 40px;

}
#div{
background: rgb(95, 156, 76);
width: auto;
height: auto;
color: white;
}
#thangiua{
width: 56%;
height: 600px;
float: left;
background: linear-gradient(#fff,#d3d8e8);
float-color: right;
text-align: center;
}
#cuoitrang{
margin-left: 500px;
color: #ddd;
background-color: white;
display: inline-block;
direction: 10px;
line-height: 1.34;
}
#check{
background: #4267b2;
color: white;
}
h5{
	color: white;
}
#dn1{
	float: left;
	margin-top: 3%;
	
}
#dn2{
float: right;
	text-align: left;
	margin-left: 1%;
	margin-right: 45%;
	margin-top: 3%;
} 
ghi chú lệnh{
	border-radius: 2px; <làm tròn viên ô vuông trong bảng>
	padding-top: 8px; <làm to ô vuông trong bảng
background: linear-gradient(#maubđ,#maukt)-angle là quay tròn
}
img{
	opacity: 0.5; [làm mờ ảnh]
}