.lich {
                width: 1000px;
                margin: auto;
                }
ul          {
                list-style-type: none;
                }

.tren      {
                width: 100%;
                background: #3ad6d6 ;
                color: #263838;
                font-size: 40px;
                }
.tuan   {
                margin: auto;
                padding: 10px 0;
                background-color: #cec5b0;
                }
.tuan li {
                display: inline-block;
                width: 13%;
                color: #666;
                text-align: center;
                }
.ngay       {
                margin: auto;
                padding: 10px 0;
                background: #eee;
                
                }

.ngay li    {
                list-style-type: none;
                display: inline-block;
                width: 13%;
                text-align: center;
                margin-bottom: 5px;
                font-size:12px;
                color: #777;
                }

.ngay li .hien {
                 padding: 5px;
                 background: #4ee26e;
                color: white    
                }
* {
                box-sizing:border-box;
}