#bocuc1 {
          background-color: #ed8b22;
          width: 60%;
          height: 80px;
          font-size: 30px;
          float: left;
          display: block;
          padding: 15px;
        }
#add {
	      background-color: #ed8b22;
          width: 35.5%;
          height: 80px;
          font-size: 18px;
          float: left;
          padding: 15px;
      }

 /*RESET CHO CSS */
* {
	margin: 0;   
	padding: 0;
}

/* CHỌN MÀU CHO ITEM */
.home {
          background-color: #191970;
     }


#bocuc2 ul {
	list-style-type: none; /* XÓA DẤU CHẤM ĐẦU */
	background:#f8f8f8; /* MÀU NỀN CHO BẢNG MENU */
	text-align: center; /* CHO MENU RA GIỮA */
}

#bocuc2 ul li {
	color: #f1f1f1;
    display: inline-table; /* cho danh sách menu nằm ngang */
    width: 165px; /* Chiều rộng cho item */
    height: 50px; /* Chiều cao cho item */
    line-height: 50px; /* căn cho item ra chính giữa khung nền, chú ý bằng height */
    border-right: 1px solid #bbb;
    float: left;
} 
/* Bỏ đi sọc kẻ ở ô menu cuối*/
#bocuc2 li:last-child {
    border-right: none;
}
#bocuc2 ul li a {
	color: black; /* Màu chữ cho item */
	text-decoration: none; /* biến mất gạch chân dưới item */
	display: block; /* Tạo màu nền bao bọc item */
	font-size: 18px; /* kích thước chữ cho item*/
}

/* tạo hiệu ứng khi di chuột vào item */
#bocuc2 ul li a:hover {
    background-color: #191970; /* màu nền khi di chuột vào*/
    color: white; /* chuyển màu chữ khi di chuột vào*/
}
#bocuc3 {
	background-color: #f8f8f8;
	width: 40%;
	height: 450px;
	float: left;
    padding: 100px 100px 80px ; /*điều chỉnh menu căn trên dưới trái phải*/
   
}
/*xóa dấu chấm*/
#bocuc3 ul {
	list-style-type: ; 
}

#bocuc3 ul li a {
    color: black;
    text-decoration: none; /* biến mất gạch chân dưới item */
	display: block; /* Tạo màu nền bao bọc item */
	font-size: 20px; /* kích thước chữ cho item*/
    margin: 20px;
}
#bocuc3 ul li a:hover {
	background-color: #f8f8f8; /*màu nền khi hover*/
	color: #ed8b22; /*màu chữ khi hover vào*/
}
#bocuc4 {
	background-color: #f8f8f8;
	width:auto;
	height: 650px;
}
#bocuc5 {
	 background-color: #5a5d67;
	 width: 20%;
	 height: 200px;
	 display: block; /*tạo thành 1 khối */
	 padding: 50px 150px;
	 float: left;
}
.thongtin {
	border: 1px solid #5a5d67;
	display: block;
	padding: 5px ;
	border-radius: 5px; /*bo tròn*/
}
#guidi {
	border: 1px solid #5a5d67;
	border-radius: 5px;
	background: #ed8b22;
	color: white;
	padding: 15px;
}
#bocuc6 {
	 background-color: #5a5d67;
	 width: 10%;
	 height: 200px;
	 display: block; /*tạo thành 1 khối */
	 padding: 50px 50px;
	 float: left;
	 color: white;
}
#bocuc7 {
	 background-color: #5a5d67;
	 width: auto;
	 height: 200px;
	 display: block; /*tạo thành 1 khối*/ 
	 padding: 50px 60.8px;
	 float: left;
	 color: white;
}
/* lật ảnh */
/*#anh img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}*/
