.nam123,table{
	height: 50px;
	width: 100%;
	border:2px dashed #00000080;
	color: #FFFFFFFF;
	background-color: black;
	

}
article {background-image: url(hinh-anh-du-lich-ha-long.jpg);
	height:550px;
	width: 64%;
	


}

