.doan1{
	background-color: violet;
	width: 700px;
	height: 500px;
	background: url(https://thailansensetravel.com/view-815/at_sanctuary-of-truth-lau-dai-bang-go-khong-co-dinh-o-pattaya-thai-lan_a8d20f23b5574b795251fb843692f776.jpg);
}