#dau1{
	background-color: #415e9b;
	width: 50%;
	height: 80px;
	color: white;
    text-align: center;
    font-size: 20px;
	float: left;
}
#dau2{
	background-color: #415e9b;
	color: white;
	height: 80px;
}
#dau3{
	background-color: #DEF0FA;
	width: 50%;
	height: 500px;
    float: left;
    text-align: center;
    font-size: 20px;
    color: blue;
    background: linear-gradient(white,#DEF0FA)
}
#dau4{
	background-color: #DEF0FA;
	height: 500PX;
	font-size: 30px;
	color: blue;
}