#dautrang { 												
	background-color:#3b5997;
	color: white;
	height: 96px;
	margin-top: -21px;
	width: 110%;
	margin-left: -10px;

}
#fb{
	float: left; 
 margin-top: 28px;
 margin-left: 168px;						
	
}
#dautrang h1{
	margin-left: 100px;
	text-align: center;
	float: left;
	margin-top: 30px;
}
#dangnhap{
	float: right;
	margin-top: 38px;
	font-size: 13px;

}
.dangnhap1{
	background-color: #4267b2;
	color: white;
	border: 1px solid #29487d;
	height: 21px;
	margin-left: 10px;
}
.matkhau{
	border: 1px solid black;
	height: 18px;
	width: 150px;
}


#kien1{
	float: left;
	margin-top: 10px;
	margin-bottom: 5px;
	width: 150px;

	
}
#kien2{
	float: right;
	text-align: left;
	margin-left: 20px;
	margin-right: 280px;
	margin-top: 10px;
	margin-bottom: 5px;


	
}
#kien3{
	
	text-align: center;
	margin-right: 0 auto;
	margin-top: 0 auto;
	margin-right: 0px;
	margin-left: 270px;


	
}
.lion{
	text-align: center;
	margin-top: -15px;
	margin-right: 271px;


}
#kien3 input {
	color: white;
	background-color: blue;
}
#dngd {
	float: left;
	margin-left: 175px;
	text-align: left;
	height: 500px;
	width: 45%;
	font-size: 23px;
	color: #0e385f;
	margin-top: -32px;
	font-style: inherit;
}
#dangky{
	
	margin-left: 0 auto;
	height: 500px;
	margin-top: 25px;
	margin-bottom: 20px;
	
}
#cuoitrang{
	float: center;
	text-align: left;
	color: #ddd;
	background-color: white;
			te

}
#dongy{
	text-align: left;
	color: #bbb;
}
a{
	color:#365899;
    text-decoration: none;
}
a:hover {
 text-decoration:inherit; 
 link{text-decoration: none}
body{
	font-family: Arial;
}

#ngaysinh {
	font-size: 14px;

}
#dongy a{
	color:#365899;
}
.dk:focus	{
	background-color: #66cd00;
	color: red;
}
