#khung {
         background-color: #DAA520;
         color: green;
         margin: auto;
         width: 800px;
         height: 400px;
       }
.bang {
        border: 0px solid black;
        background-color: #00BFFF;
        width: 600px ; 
        height:50px;
        margin: auto;
        border-collapse: collapse;
      }
th,td {
        border: 2px solid black;
      }